{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block header %}
<h1>About Haitwu</h1>
{% endblock %}

{% block content %}

<h2>Overview</h2>
<p>
<b>Haitwu</b> is fairly simple.  It fetches the last 200 public tweets for the
requested screen name and scans their text for sequences of words that match
the 5-7-5 syllable haiku "formula".
</p>

<p>
To reduce load, each screen name's results are cached for one hour.  New
haiku-compliant tweets won't show up until the screen name's cache entry
expires.
</p>

<p>
Unfortunately, timeline request errors occur fairly often due to Twitter's
<a href="http://apiwiki.twitter.com/Rate-limiting">rate limiting</a>.  Haitwu
uses the public (non-authenticated) Twitter API from shared Google AppEngine
IP addresses, so it runs into the rate limit fairly often.
</p>

<p>
Due to the free-form text patterns often found in tweets, haiku detection isn't
always completely accurate.  Various bits of punctuation can throw things off,
for example.  Improvements will come in time.
</p>

<h2>Technology</h2>
<p>
<b>Haitwu</b> is written in <a href="http://www.python.org/">Python</a> on top
of <a href="http://code.google.com/appengine/">Google AppEngine</a>.
</p>

<p>
Haiku detection is based on Jonathan Feinberg's
<a href="http://github.com/jdf/haikufinder">haikufinder</a> module, which uses the <a href="http://www.nltk.org/">Natural Language Toolkit</a>.
</p>

{% endblock %}
