{% extends 'base.html' %}

{% block title %}{{ user.screen_name }}{% endblock %}

{% block header %}
<h1>Haikus tweeted by <a href="http://twitter.com/{{ user.screen_name }}">{{ user.name }}</a> ...</h1>
{% endblock %}

{% block content %}
{% if haikus %}
<div id="haikus">
{% for haiku in haikus %}
<div class="haiku">
	<div class="l0">{{ haiku.lines.0 }}</div>
	<div class="l1">{{ haiku.lines.1 }}</div>
	<div class="l2">{{ haiku.lines.2 }}</div>
	<div class="citation">&mdash; <a href="http://twitter.com/{{ haiku.entry.user.screen_name }}/status/{{ haiku.entry.id }}">{{ haiku.date|date:"F j, Y" }}</a></div>
</div>
{% endfor %}
</div>
{% else %}

{% if error %}
Sorry, an error occured while fetching <a href="http://twitter.com/{{ user.screen_name }}">{{ user.name }}</a>'s public timeline.  Please try again.
{% else %}
<p>
Sorry, no haikus were found in <a href="http://twitter.com/{{ user.screen_name }}">{{ user.name }}</a>'s public timeline.
</p>
{% endif %}

<div style="text-align: center">
<form method="get" action="/">
	<input id="u" name="u" type="text">
	<input type="submit" value="Find Haikus">
</form>
</div>
{% endif %}

<div id="ad">
<script type="text/javascript"><!--
google_ad_client = "pub-2870165208827543";
google_ad_slot = "1300501200";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
{% endblock %}
